body {
    line-height: 1.6;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 20px;
    margin-bottom: 15px;
}

table {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}